In [1]:
import sqlite3
con=sqlite3.connect('D:\SEM3\PYTHON\week6\student.db')
cur=con.cursor()

## 1. Create a result table which contain student id, student name and 5 subject marks.

In [2]:
cur.execute("CREATE TABLE STUDENT(ID,NAME,M1,M2,M3,M4,M5)")

 ## 2. Enter 10 studnet details with its marks.

In [3]:
ins="insert into STUDENT values(?,?,?,?,?,?,?)"
r=[(1,'Aarav', 76, 85, 90, 67, 54),(2,'Bhavna', 43, 65, 78, 91, 82),(3,'Chetan', 59, 71, 63, 88, 75),
(4,'Divya', 92, 94, 97, 99, 96),(5,'Eshaan', 34, 56, 68, 79, 45),(6,'Falak', 81, 83, 86, 89, 87),
(7,'Gaurav', 28, 49, 61, 72, 38),(8,'Heena', 66, 77, 88, 55, 44),(9,'Ishaan', 47, 69, 51, 73, 95),
(10,'Jyoti', 100, 98, 93, 95,67)]

In [4]:
cur.executemany(ins,r)

In [5]:
con.commit()

## 3. Dump table into csv file "result.csv".

In [6]:
cur.execute("select * from STUDENT")
r=cur.fetchall()
for i in r:
    print(list(i))

[1, 'Aarav', 76, 85, 90, 67, 54]
[2, 'Bhavna', 43, 65, 78, 91, 82]
[3, 'Chetan', 59, 71, 63, 88, 75]
[4, 'Divya', 92, 94, 97, 99, 96]
[5, 'Eshaan', 34, 56, 68, 79, 45]
[6, 'Falak', 81, 83, 86, 89, 87]
[7, 'Gaurav', 28, 49, 61, 72, 38]
[8, 'Heena', 66, 77, 88, 55, 44]
[9, 'Ishaan', 47, 69, 51, 73, 95]
[10, 'Jyoti', 100, 98, 93, 95, 67]

In [7]:
import csv

In [8]:
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','w',newline='') as f:
    w=csv.writer(f)
    h=['id','name','m1','m2','m3','m4','m5']
    w.writerow(h)
    w.writerows(r)

#### Read result.csv file

In [9]:
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','r') as f:
    r=csv.reader(f)
    for i in r:
        print(i)

['id', 'name', 'm1', 'm2', 'm3', 'm4', 'm5']
['1', 'Aarav', '76', '85', '90', '67', '54']
['2', 'Bhavna', '43', '65', '78', '91', '82']
['3', 'Chetan', '59', '71', '63', '88', '75']
['4', 'Divya', '92', '94', '97', '99', '96']
['5', 'Eshaan', '34', '56', '68', '79', '45']
['6', 'Falak', '81', '83', '86', '89', '87']
['7', 'Gaurav', '28', '49', '61', '72', '38']
['8', 'Heena', '66', '77', '88', '55', '44']
['9', 'Ishaan', '47', '69', '51', '73', '95']
['10', 'Jyoti', '100', '98', '93', '95', '67']

## 4. Read result.csv file and Print Total Marks and Grade of each student. Also Append Total Marks and Grade column into result.csv file.

In [10]:
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','r',newline='') as f:
    r=csv.reader(f)
    new=[]
    header=next(r)
    header.append('total')
    header.append('grade')
    new.append(header)
    for i in r:
        i.append(int(i[2])+int(i[3])+int(i[4])+int(i[5])+int(i[6]))
        if (int(i[7]>=400)):
            i.append('A')
        elif(int(i[7]>=300)):
            i.append('B')
        elif(int(i[7]>=200)):
            i.append('C')
        elif(int(i[7]>=100)):
            i.append('D')
        else:
            i.append('FAIL')
        new.append(i)
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','w',newline='') as a:
    w=csv.writer(a)
    w.writerows(new)

#### Now read result.csv file after append

In [27]:
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','r') as f:
    r=csv.reader(f)
    for i in r:
        print(i)

['id', 'name', 'm1', 'm2', 'm3', 'm4', 'm5', 'total', 'grade']
['1', 'Aarav', '76', '85', '90', '67', '54', '372', 'B']
['2', 'Bhavna', '43', '65', '78', '91', '82', '359', 'B']
['3', 'Chetan', '59', '71', '63', '88', '75', '356', 'B']
['4', 'Divya', '92', '94', '97', '99', '96', '478', 'A']
['5', 'Eshaan', '34', '56', '68', '79', '45', '282', 'C']
['6', 'Falak', '81', '83', '86', '89', '87', '426', 'A']
['7', 'Gaurav', '28', '49', '61', '72', '38', '248', 'C']
['8', 'Heena', '66', '77', '88', '55', '44', '330', 'B']
['9', 'Ishaan', '47', '69', '51', '73', '95', '335', 'B']
['10', 'Jyoti', '100', '98', '93', '95', '67', '453', 'A']

## 5. List out Top 3 Student id and name with its percentage.

In [54]:
with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','r') as f:
    r=csv.reader(f)
    l=[]
    a=next(r)
    for i in r:
        l.append(i[7])
    print("TOP 3 STUDENT:\n~~~~~~~~~~~~~~~~~~")
    for i in range(3):
        b=max(l)
        with open('D:\\SEM3\\PYTHON\\Week6\\result.csv','r') as f:
            r=csv.reader(f)
            for i in r:
                if(i[7]==str(b)):
                    print("Name:",i[1])
                    print("ID:",i[0])
                    print("Percentage:",int(i[7])/5)
                    print("__________________")
        l.remove(max(l))

TOP 3 STUDENT:
~~~~~~~~~~~~~~~~~~
Name: Divya
ID: 4
Percentage: 95.6
__________________
Name: Jyoti
ID: 10
Percentage: 90.6
__________________
Name: Falak
ID: 6
Percentage: 85.2
__________________